body {
    background-color: #fbe3e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
  }
  
#dataList {
    list-style-type: none;
    padding: 0;
  }
  
  #dataList li {
    margin-bottom: 40px;
    color: #5cbdb9;
  }
  
  #dataList li:first-child { /*degree study now*/
    margin-top: 40px;
    font-weight: bold;
  }
  

  
